# Redis Cloud
REDIS_HOST=redis-16705.crce216.sa-east-1-2.ec2.cloud.redislabs.com
REDIS_PORT=16705
REDIS_PASSWORD=

# Supabase (service_role — bypassa RLS)
SUPABASE_URL=https://klhbgsiatzbmxbkzpbzv.supabase.co
SUPABASE_SERVICE_KEY=

# Worker
WORKER_CONCURRENCY=3
WORKER_VERSION=0.2.0
NODE_ENV=staging
